@charset "utf-8";
/* CSS Document */

/* Font Styling */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');h1, h2, h3, h4, a{
	font-family: 'Open Sans', sans-serif;
}

p{
	font-family: raleway;
	font-weight: 400;
	font-size: 20px;
}
em{
	font-style: normal;
	font-family: san-serif;
	color: #1b75bb;
}
/****************************Home Page Styling*******************************/


.homepage_image{
	max-width: 400px;
}

title-margin{
		margin-top: 0px
	}

/***************************Lightbox*************************************/

/******************************end of Lightbox CSS****************************/
.navbar-logo-size{
	max-height: 60px;
}
.navbar-margin{
	margin-top: 79px;
}


/************************Small Screen Media Query**************************/
@media screen and (max-device-width: 576px){
	
}


/***********************Mediun Screen Media Query**************************/
@media screen and (max-device-width: 576px) and (min-device-width: 768px) { 
.title-margin{
	margin-top: 90px;
}

	
}
/************************large Screen Media Query**************************/
@media screen and (min-device-width: 768px){
	
	.title-margin{
	margin-top: 90px;
}
}
